.hero {
  height: 100vh;
  border-bottom: 5px black solid;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  .hero__content {
    width: 60vw;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.24);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      margin: 0px;
    }

    .content__header {
      color: rgb(255, 255, 255);

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        color: rgb(109, 46, 255) !important;
      }

      .header__writer {
        color: $theme-main-color;
      }
    }

    .content__lower {
      background-color: black;
      color: $theme-main-color;
      font-size: 26px;
    }

    .content__icons {
      // background-color: saddlebrown;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    font-size: 20px;
  }
}
