// .projects{
//   height: 80vh;
//   display: flex;
//   flex-direction: column;
//   .projects__canvas{
//     margin: 2px;
//     height: 100%;
//     border: 1px solid green;
//   }
// }

.projects {
  overflow: hidden;
  .projects__filter {
    height: 50px;
    width: 100%;

    color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    color: white;
  }
}

.grid__item {
  position: relative;
  min-width: 326px;
  max-width: 450px;
  color: white;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  img {
    width: 100%;
    border-radius: 5px;
  }
  .img__over {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .over__title {
      position: absolute;
      left: 0px;
      top: 5px;
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.grid__item:hover {
  color: $theme-secondary-color;
  img {
    filter: blur(2px);
  }
  .img__over {
    background-color: rgba(0, 0, 0, 0.6);
    visibility: visible;
  }
}

@media screen and (max-width: 1260px) {
  .projects {
    .projects__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 920px) {
  .projects {
    .projects__grid {
      grid-template-columns: 1fr;
    }
  }
}
