// .projects{
//   height: 80vh;
//   display: flex;
//   flex-direction: column;
//   .projects__canvas{
//     margin: 2px;
//     height: 100%;
//     border: 1px solid green;
//   }
// }

.projects {
  overflow: hidden;
  .projects__filter {
    height: 50px;
    width: 100%;
    
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    // .filter__item {
    //   width: 50px;
    //   height: 100%;
    //   background-color: green;
    // }
  }

  .projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    color: white;
  }

  .grid__item {
    min-width: 326px;
    height: 250px;

    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .item__description {
      height: 50px;
      transition: color 0.3s;

      font-weight: 400;
      font-size: 24px;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .item__img {
      height: 200px;

      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
        width: 100%;

        transition: transform 0.3s;
        background-color: black;

        object-fit: scale-down;
      }
      .item__over {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.568);
        transition: background-color 0.3s;

        position: absolute;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .over__border {
          width: 40%;
          height: 0;
          transition: height 0.3s;

          border-bottom: 2px $theme-main-color dashed;
          border-top: 2px $theme-main-color dashed;

          position: absolute;
        }

        i {
          font-size: 32px;
          color: rgba(0, 0, 0, 0);
          transition: color 0.3s;
        }
      }
    }
  }

  .grid__item:hover {
    color: $theme-main-color;
    .item__img {
      img {
        transform: scale(1.1);
      }
      .item__over {
        visibility: visible;
        i {
          color: $theme-main-color;
        }
        .over__border {
          height: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .projects {
    .projects__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 920px) {
  .projects {
    .projects__grid {
      grid-template-columns: 1fr;
    }
  }
}
