.section__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 48px;
    font-weight: 400;
    color: white;

    transition: color 0.3s ease;
  }
}

.section__title--active {
  p {
    color: $theme-main-color;
  }
}
