body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  //   "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  font-family: "Roboto Mono", monospace;
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto+Mono:wght@200;400&display=swap");

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  color: white;
  width: 15px;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  color: rgb(72, 255, 0);
  border: 5px black solid;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb:hover {
  border-width: 3px;
}
